# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

public/assets/*
!public/assets/location
public/assets/location/*
!public/assets/person
public/assets/person/*
!public/assets/person_big
public/assets/person_big/*
!public/assets/publication
public/assets/publication/*