.bigdash {
  stroke-dasharray: 1 1;
}
.animated-bigdash {
  stroke-width: 5px;
  stroke-dasharray: 1 5;
  stroke-dashoffset: 2000;

  animation: dash-flow 50s linear infinite;
}

@keyframes dash-flow {
  to {
    stroke-dashoffset: 0;
  }
}

.bigdash-highlights-on {
  opacity: 0.1;
}
