.scaleContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.scale {
  height: 30px;
  margin: 0px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.scaleRect {
  background-color: rgba(89, 89, 89, 0.5);
}
