.scaleContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.scale {
  /* background: linear-gradient(0deg,rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 0.68) 50%, rgba(243, 243, 243, 0) 100%); */
  /* backdrop-filter: blur(2px); */
  /* border-top: 1px white solid; */
  height: 30px;
  margin: 0px;
  /* background: linear-gradient(0deg,rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 0.68) 50%, rgba(243, 243, 243, 0) 100%); */
  /* backdrop-filter: blur(2px); */
  /* border-top: 1px white solid; */
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.scaleRect {
  background-color: rgba(89, 89, 89, 0.5);
  /* backdrop-filter: blur(10px); */
}
