.scaleContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.scale {
  background-color: rgba(89, 89, 89, 0.5);
  backdrop-filter: blur(2px);
  /* padding: 10px; */
  overflow: hidden;
  height: 60px;
  margin: 0px;
  border-radius: 5px 5px 0 0;
}
.scaleRect {
  background-color: rgba(89, 89, 89, 0.5);
  backdrop-filter: blur(10px);
}
