@import "tailwindcss";
/* .tooltipHover {
    cursor: pointer
} */

.tooltip {
  display: none;
}

g:has(.tooltipHover:hover) .tooltip {
  display: inline;
}

.animated-dash {
  stroke-dashoffset: 200;
}
g:has(.tooltipHover:hover) .animated-dash {
  stroke-dasharray: 20 3;

  animation: dash-flow 5s linear infinite;
}

@keyframes dash-flow {
  to {
    stroke-dashoffset: 0;
  }
}
